<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="sidebar">

    <h2 class="input-zone__title">Входные данные</h2>

    <!-- <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <textarea matInput placeholder="Input your text here..." class="textarea"
          [ngModelOptions]="{standalone: true}"
          [(ngModel)]="inputData"></textarea>
      </mat-form-field>
    </form> -->

    <button mat-stroked-button color="primary" class="button" (click)="graph.updateData(inputData)">Update</button>

    <div class="form-group">
      <label for="file">Choose File</label>
      <input type="file" (change)="changeListener($event)">
    </div>

  </mat-drawer>
  <mat-drawer-content>
      <app-my-graph #graph></app-my-graph>
  </mat-drawer-content>
</mat-drawer-container>